@page "/dropdown-example"
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Components.Forms
@using BlazorServerApp.Data
@using BlazorServerApp.Model
@using Syncfusion.Blazor.DropDowns
@inject RolesService rolesService
@inject IJSRuntime IJSRuntime
<h3>Dropdown Checkbox List</h3>
<head>
    <script src="javascript\dropdowncheckbox.js"></script>
    <link href="css\dropdowncheckbox.css" rel="stylesheet" />
</head>
    <div class="dropdown" data-control="checkbox-dropdown">
        <label class="dropdown-label" @onclick="ToggleDropdown">Select</label>

        <div class="dropdown-list">
            <a href="#" data-toggle="check-all" class="dropdown-option">
                Check All
            </a>
            @if (rolesList != null)
            {
                @foreach (var item in rolesList)
                {
                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" @bind="item.IsChecked" value="Selection 1" />
                        @item.RoleName
                    </label>
                }
            }
        </div>
    </div>

@code {
    private List<Roles> rolesList;

    protected override async Task OnInitializedAsync()
    {
        rolesList = await rolesService.GetAllRolesAsync();
    }

    private async Task ToggleDropdown()
    {
        if (rolesList == null)
        {
            rolesList = await rolesService.GetAllRolesAsync();
        }
    }
}